<div>
    <h2 id="page-heading">
        <span jhiTranslate="sistemaApoioOperacionalApp.origemAmostra.home.title">Origem Amostras</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-origem-amostra" [routerLink]="['/origem-amostra/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="sistemaApoioOperacionalApp.origemAmostra.home.createLabel">
            Create a new Origem Amostra
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'sistemaApoioOperacionalApp.origemAmostra.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="origemAmostras?.length === 0">
        <span jhiTranslate="sistemaApoioOperacionalApp.origemAmostra.home.notFound">No origemAmostras found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="origemAmostras && origemAmostras.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="sistemaApoioOperacionalApp.origemAmostra.descricao">Descricao</span></th>
                    <th scope="col" ><span jhiTranslate="sistemaApoioOperacionalApp.origemAmostra.origemAmostra">Origem Amostra</span></th>
                    <th scope="col" ><span jhiTranslate="sistemaApoioOperacionalApp.origemAmostra.amostra">Amostra</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let origemAmostra of origemAmostras ;trackBy: trackId">
                    <td><a [routerLink]="['/origem-amostra', origemAmostra.id, 'view']">{{ origemAmostra.id }}</a></td>
                    <td>{{ origemAmostra.descricao }}</td>
                    <td>
                        <div *ngIf="origemAmostra.origemAmostra">
                            <a [routerLink]="['/amostra', origemAmostra.origemAmostra?.id, 'view']" >{{ origemAmostra.origemAmostra?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="origemAmostra.amostra">
                            <a [routerLink]="['/amostra', origemAmostra.amostra?.id, 'view']" >{{ origemAmostra.amostra?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/origem-amostra', origemAmostra.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/origem-amostra', origemAmostra.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(origemAmostra)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
