<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="origemAmostra">
            <h2><span jhiTranslate="sistemaApoioOperacionalApp.origemAmostra.detail.title">Origem Amostra</span> {{ origemAmostra.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sistemaApoioOperacionalApp.origemAmostra.descricao" [ngbTooltip]="'sistemaApoioOperacionalApp.origemAmostra.help.descricao' | translate">Descricao</span></dt>
                <dd>
                    <span>{{ origemAmostra.descricao }}</span>
                </dd>
                <dt><span jhiTranslate="sistemaApoioOperacionalApp.origemAmostra.amostra">Amostra</span></dt>
                <dd>
                    <div *ngIf="origemAmostra.amostra">
                        <a [routerLink]="['/amostra', origemAmostra.amostra?.id, 'view']">{{ origemAmostra.amostra?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/origem-amostra', origemAmostra.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
